:root {
    --main-color: #e50914;
    --background-color: #000000;
    --font-color: #ffffff;   
}

* {
    margin: 0;
    color: var(--font-color);
    font-family: sans-serif;
    padding: 0;
}


.logo {
    width: 170px;
}
.hero {
    background-image: url("../images/stranger.webp");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0, 0.8), rgba(0,0,0,0) 60%);
    background-color: rgba(0,0,0, 0.4);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    position: relative;
    z-index: 2;
    padding-left: 6rem;
    padding-right: 6rem;
}


.mainer {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.mainer h1 {
    width: 50%;
    font-size: 56px;
    font-weight: 900;
    line-height: 70px;
}

.slogan {
    padding-top: 2px;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
}

.hero-text {margin-top: 2rem; width: 40%;}
.email-login {width: 70%; margin: 10px;}
#email {
    width: 40%;
    background-color: #101010;
    border: 1px solid grey;
    padding: 20px;
}

.red-button {
    background-color: var(--main-color);
    color: var(--font-color);
    font-size: medium;
    padding: 5px;
    width: 8rem;
    border: 1px solid var(--main-color);
    border-radius: 8px;
}

.start-button {
    background-color: var(--main-color);
    color: var(--font-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    width: 20%;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    height: 100%;
}

main, footer {background-color: var(--background-color);}

.language {
    background-color: var(--background-color);
    border: 1px solid lightgrey;
    font-size: medium;
    padding: 5px;
    width: 8rem;
    border-radius: 2px;
}

main {
    padding: 8rem;
    display: flex;
    flex-direction: column;
}

.trends {
    padding: 10px auto;
}

.poster {
    display: flex;
    width: 180px;
    height: 270px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poster-container {
    display: flex;
    flex-direction: row;
}

.poster-image {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    transition: width, 0.4s;
}

.poster-image:hover {
    width: 88%;
    height: 88%;
}

.poster-number {
    position: absolute;
}