:root {
    --primary-color:#000000;
    --secondary-color:#fff;
    --tertiary-color:#dadbf1;
    --button-color:#4C5FD5;
}

* {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.area a:hover, a:hover {
    text-decoration: underline;
}

#menu {
    font-size: 1rem;
    border: 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

#logo {
    width: 32px;
    color: var(--secondary-color);
}
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 25%;
}

#buttons-container {
    display: none;
}

#buttons-container.open {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

#buttons-container input {
    width: 300px;
    padding: 15px;
}
.rounded {
    border-radius: 10px;
    font-size: 21px;
    padding: 10px;
    margin: 10px;
}

#submit {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    font-weight: bold;
    padding: 15px;
}

#sign-in {
    background-color: var(--button-color);
    color: var(--secondary-color);
    font-weight: bold;
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#sign-in:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#hero {
    background-color: var(--tertiary-color);
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero div {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero input {
    padding: 25px;
    width: 115%;
    margin-top: 10px;
    border: 1px solid black;
}

#sections {
    padding: 4rem;
}

#sections img {
    width: 80px;
    grid-row: 1/4;
    padding: 2rem;
}

.area {
    display: grid;
    grid-template-columns: 0.8fr 3fr;
    grid-template-rows: 0.8fr 0.8fr 0.8fr;
    margin: 10px;
    font-size: 20px;
}

.area a {
    text-decoration: none;
    color: blue;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-top: 15px;
}

.footer-links {
    margin: 20px;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 40px;
}

.copyright {
    display: flex;
    align-items: flex-end;
}

.copyright div {
    margin: 30px;
    font-size: 18px;
}

#help {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: 0;
    background-color: var(--button-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: medium;
}